{% load static %}
<!DOCTYPE HTML>
<!-- 这个页面用来添加新的公司  -->
<html>
{% include '../../common_html/_header.html' %}
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<link rel="stylesheet" type="text/css" href="{% static 'Hui-iconfont/1.0.8/iconfont.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'my-css/client/company_add.css' %}" />
<title>Hi，H-ui v3.1</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
<!--  <style>
		button{
			border-radius:20px;}
		#save-from{
		 margin-left:267px;}
		textarea{
			text-indent:15px;
			resize:none ;
			border-radius:10px;}
		textarea:hover{
			border-color:#f40;}
		.modle_div {
		/*这个是模块的css样式*/ 
			border-bottom: solid 1px transparent;
		    padding: 8px 15px;
		    font-size: 14px;
		    font-weight: 700;
		    margin-bottom: -1px;
		    
		    background-color:#eee;
		    }
		/*将需要同行显示的div改为块级元素,也可以使用float*/
		
		.many_div{
					display:inline-block;
				}
		.button_div{
					text-align:right;
		        }
		
<!--这是每个模块的样式-->
</style>
</head>
<body>
<article class="page-container">
	<form action="{% url 'company-add' %}" method="post" class="form form-horizontal" id="form-register">
		<div class="row cl modle_div" id="model1"> 
		基本信息:
		</div>
			<div class="row cl">
				<label class="form-label col-xs-3">客户类型：</label>
				<div class="formControls col-xs-4" style="display:inline-block" >
					<div class="check-box">
						<input type="checkbox" id="class-1" name="company_class" value="签约客户" checked>
						<label for="class-1">签约客户</label>
					</div>
					<div class="check-box">
						<input type="checkbox" id="class-2" name="company_class" value="开发中客户" >
						<label for="class-1">开发中客户</label>
					
					</div>
			</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3"><span class="c-red">*</span>公司名称：</label>
				<div class="formControls col-xs-8">
					<input type="text" class="input-text" placeholder="2~16个字符，字母/中文/数字/下划线" name="company_name" id="company_name"  required>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">公司规模：</label>
				<div class="formControls col-xs-2" style="display:inline-block" >
					<select  class="select" size="1" name="company_size" id="company_size">
	  					<option value="1-50人">1-50人 </option>
	  					<option value="50-100人">50-100人</option>
	  					<option value="100-500人">100-500人</option>
	  					<option value="500-1000人">500-1000人</option>
	  					<option value="1000-2000人">1000-2000人</option>
	  					<option value="2000-5000人">2000-5000人</option>
	  					<option value="5000-10000人">5000-10000人</option>
	  					<option value="10000人以上">10000人以上</option>
					</select>
					
				</div>
			
			
				<label class="form-label col-xs-3">公司性质：</label>
				<div class="formControls col-xs-2"  style="display:inline-block" >
					<select  class="select" size="1" name="company_nature" id="company_nature">
	  					<option value="私营/民营企业">私营/民营企业 </option>
	  					<option value="国有企业">国有企业</option>
	  					<option value="外商企业 ">外商企业 </option>
	  					<option value="中外合作企业 ">中外合作企业 </option>
	  					<option value="事业单位">事业单位</option>
	  					<option value="政府机构/非盈利机构">政府机构/非盈利机构</option>
	  					<option value="其他">其他</option>
	  					
					</select>
					
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">所属行业：</label>
				<div class="formControls col-xs-2" style="display:inline-block" >
					<select  class="select" size="1" name="industry" id="industry">
	  					<option value="互联网 ">互联网 </option>
	  					<option value="计算机软件">计算机软件</option>
	  					<option value="通信">通信</option>
	  					<option value="电子/半导体">电子/半导体</option>
	  					<option value="金融">金融</option>
	  					<option value="房产建筑房产建筑">房产建筑</option>
	  					<option value="医疗生物">医疗生物</option>
	  					<option value="汽车">汽车</option>
	  					<option value="消费品">消费品</option>
	  					<option value="广告/传媒">广告/传媒</option>
	  					<option value="教育培训">教育培训</option>
	  					<option value="咨询/外包/中介">咨询/外包/中介</option>
	  					<option value="服务业">服务业</option>
	  					<option value="轻工贸易">轻工贸易</option>
	  					<option value="机械重工">机械重工</option>
	  					<option value="化工能源">化工能源</option>
	  					<option value="农林牧渔">农林牧渔</option>
	  					<option value="政府公益">政府公益</option>
					</select>
					
				</div>
			
			
				<label class="form-label col-xs-3">公司阶段：</label>
				<div class="formControls col-xs-2"  style="display:inline-block" >
					<select  class="select" size="1" name="stage" id="stage">
	  					<option value="不需要融资">不需要融资 </option>
	  					<option value="D轮及以上">D轮及以上</option>
	  					<option value="C轮">C轮</option>
	  					<option value="B轮">B轮</option>
	  					<option value="A轮">A轮</option>
	  					<option value="天使轮">天使轮</option>
	  					<option value="上市公司">上市公司</option>
	  					<option value="未融资">未融资</option>
					</select>	
				</div>
			</div>
		
			<div class="row cl">
				<label class="form-label col-xs-3">公司地址：</label>
				<div class="formControls col-xs-8">
					<input type="text" class="input-text" placeholder="公司地址" name="company_address" id="company_address"  required>
				</div>
			</div>
	<!-- 	<div class="row cl modle_div many_div" id="model2"> 
		联系人:
		</div>	
		<div id="add_div"></div>
		<div class="row cl">
			<div class="formControls col-xs-8 button_div many_div" >
					<button class="btn btn-primary " type="button" id="add-button" value="">&nbsp;&nbsp;添加其他联系人&nbsp;&nbsp;</button>
			</div>
		</div>-->
		<div class="row cl modle_div" id="model3"> 
		调研信息:
		</div>
			<div class="row cl">
				<label class="form-label col-xs-3">公司官网：</label>
				<div class="formControls col-xs-8">
					<textarea name="company_website" id="company_website" rows="3" cols="120" placeholder="请输入公司官网"></textarea>
				</div>	
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">公司介绍：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="company_introduction" id="company_introduction" rows="3" cols="120" placeholder="请输入公司亮点"></textarea>
				</div>
			</div>
			<div class="row cl">	
				<label class="form-label col-xs-3">薪酬福利：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="package" id="package" rows="3" cols="120" placeholder="请输入薪酬福利"></textarea>
				</div>	
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">公司亮点：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="company_highlights" id="company_highlights" rows="3" cols="120" placeholder="请输入公司亮点"></textarea>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">面试流程：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="interview_process" id="interview_process" rows="3" cols="120" placeholder="请输入面试流程"></textarea>
				</div>	
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">其他：</label>
				<div class="formControls col-xs-8">
					<textarea name="other_info" id="other_info" rows="3" cols="120" placeholder="请输入其他信息"></textarea>
				</div>	
			</div>
		<div class="row cl">
			<div class="col-xs-8 col-xs-offset-3">
				<button class="btn btn-primary" type="button" id="save-from" value="">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
			   <button class="btn btn-default " type="button" id="add-button">&nbsp;&nbsp;添加联系人&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

{% include '../../common_html/_script.html' %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.validation/1.14.0/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.validation/1.14.0/validate-methods.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.validation/1.14.0/messages_zh.js' %}"></script>
<script type="text/javascript" src="{% static 'My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'webuploader/0.1.5/webuploader.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/1.4.3/ueditor.config.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/1.4.3/ueditor.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/1.4.3/lang/zh-cn/zh-cn.js' %}"></script>
<script type="text/javascript" src="{% static 'my-js/company_add.js' %}"></script>
<script type="text/javascript">



</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>