{% load static %}
<!DOCTYPE html>
<html>
{% include 'common_html/_header.html' %}
<body>
<nav class="breadcrumb"><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >刷新我的桌面<i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<fieldset>
		<legend style="text-align:center;">系统公告</legend>
		<div class="text-c">
			<label>个人统计，修改简历，客户公司，公司业务功能</label><br>
			<label>将于二期上线</label><br>
			<label>莫着急</label>
		</div>
	</fieldset>
</div>
{% include 'common_html/_script.html' %}
</body>
</html>

