{% load static %}
<!DOCTYPE HTML>
<!-- 这个页面用来添加新的沉淀  -->
<html>
{% include '../../common_html/_header.html' %}
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<link rel="stylesheet" type="text/css" href="{% static 'Hui-iconfont/1.0.8/iconfont.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'my-css/client/company_add.css' %}" />
<title>Hi，H-ui v3.1</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
<!--  <style>
		button{
			border-radius:20px;}
		#save-from{
		 margin-left:267px;}
		textarea{
			text-indent:15px;
			resize:none ;
			border-radius:10px;}
		textarea:hover{
			border-color:#f40;}
		.modle_div {
		/*这个是模块的css样式*/ 
			border-bottom: solid 1px transparent;
		    padding: 8px 15px;
		    font-size: 14px;
		    font-weight: 700;
		    margin-bottom: -1px;
		    
		    background-color:#eee;
		    }
		/*将需要同行显示的div改为块级元素,也可以使用float*/
		
		.many_div{
					display:inline-block;
				}
		.button_div{
					text-align:right;
		        }
		
<!--这是每个模块的样式-->
</style>
</head>
<body>
<article class="page-container">
	<form action="/business_add" method="post" class="form form-horizontal" id="form-register">
		<div class="row cl modle_div" id="model1"> 
		基本信息:
		</div>
			<!-- <div class="row cl">
				<label class="form-label col-xs-3">客户类型：</label>
				<div class="formControls col-xs-4" style="display:inline-block" >
					<div class="check-box">
						<input type="checkbox" id="class-1" name="company_class" value="签约客户" checked>
						<label for="class-1">签约客户</label>
					</div>
					<div class="check-box">
						<input type="checkbox" id="class-2" name="company_class" value="开发中客户" >
						<label for="class-1">开发中客户</label>
					
					</div>
			</div>
			</div> -->
			<div class="row cl">
				<label class="form-label col-xs-3"><span class="c-red">*</span>沉淀名称：</label>
				<div class="formControls col-xs-8">
					<input type="text" class="input-text" placeholder="2~16个字符，字母/中文/数字/下划线" name="CD_name" id="CD_name"  required="true" />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">添加版本：</label>
				<div class="formControls col-xs-2" style="display:inline-block" >
					<select  class="select" size="1" name="add_public" id="add_public">
	  					<option value="V205">V205</option>
	  					<option value="V206">V206</option>
	  					<option value="V207">V207</option>
	  					<option value="V208">V208</option>
	  					<option value="V209">V209</option>
	  					<option value="V210">V210</option>
	  					<option value="V211">V211</option>
	  					<option value="V212">V212</option>
					</select>
					
				</div>
			
			
				<label class="form-label col-xs-3"> 重要程度：</label>
				<div class="formControls col-xs-2"  style="display:inline-block" >
					<select  class="select" size="1" name="important_level" id="11400001">
					</select>
					
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">所属服务：</label>
				<div class="formControls col-xs-2" style="display:inline-block" >
					<select  class="select" size="1" name="server" id="server">
	  					
					</select>
					
				</div>
			
			
				<label class="form-label col-xs-3">controller：</label>
				<div class="formControls col-xs-2"  style="display:inline-block" >
					<select  class="select" size="1" name="controller" id="controller"  >
						<option value="请先选择服务">请先选择服务 </option>
					</select>	
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">所属接口：</label>
				<div class="formControls col-xs-2" style="display:inline-block" >
					<select  class="select" size="1" name="col_qpi" id="col_qpi">
						
					</select>
					
				</div>
			
				<label class="form-label col-xs-3">接口变动：</label>
				<div class="formControls col-xs-2" style="display:inline-block" >
					<div class="check-box">
						<input type="checkbox" id="class-1" name="api_change" value="是" checked>
						<label for="class-1">是</label>
					</div>
					<div class="check-box">
						<input type="checkbox" id="class-2" name="api_change" value="否" >
						<label for="class-1">否</label>
					
					</div>
			</div>
				
			</div>
		
			<div class="row cl">
				<label class="form-label col-xs-3">脚本地址：</label>
				<div class="formControls col-xs-8">
					<input type="text" class="input-text" placeholder="脚本地址" name="jmx_address" id="jmx_address">
				</div>
			</div>
	<!-- 	<div class="row cl modle_div many_div" id="model2"> 
		联系人:
		</div>	
		<div id="add_div"></div>
		<div class="row cl">
			<div class="formControls col-xs-8 button_div many_div" >
					<button class="btn btn-primary " type="button" id="add-button" value="">&nbsp;&nbsp;添加其他联系人&nbsp;&nbsp;</button>
			</div>
		</div>-->
		<div class="row cl modle_div" id="model3"> 
		测试详细:
		</div>
			<div class="row cl">
				<label class="form-label col-xs-3">修改背景：</label>
				<div class="formControls col-xs-8">
					<textarea name="brackground" id="brackground" rows="3" cols="120" placeholder="请输入背景"></textarea>
				</div>	
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">修改内容：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="content" id="content" rows="3" cols="120" placeholder="请输入修改内容"></textarea>
				</div>
			</div>
			<div class="row cl">	
				<label class="form-label col-xs-3">测试方法：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="method" id="method" rows="3" cols="120" placeholder="请输入测试方法"></textarea>
				</div>	
			</div>
			<!-- <div class="row cl">
				<label class="form-label col-xs-3">公司亮点：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="company_highlights" id="company_highlights" rows="3" cols="120" placeholder="请输入公司亮点"></textarea>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">面试流程：</label>
				<div class="formControls col-xs-8 ">
					<textarea name="interview_process" id="interview_process" rows="3" cols="120" placeholder="请输入面试流程"></textarea>
				</div>	
			</div> -->
			<div class="row cl">
				<label class="form-label col-xs-3">其他信息：</label>
				<div class="formControls col-xs-8">
					<textarea name="other_info" id="other_info" rows="3" cols="120" placeholder="请输入其他信息"></textarea>
				</div>	
			</div>
		<div class="row cl">
			<div class="col-xs-8 col-xs-offset-3">
				<button class="btn btn-primary" type="submit" id="save-from" value="">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
			   <button class="btn btn-default " type="button" id="add-button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

{% include '../../common_html/_script.html' %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.validation/1.14.0/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.validation/1.14.0/validate-methods.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.validation/1.14.0/messages_zh.js' %}"></script>
<script type="text/javascript" src="{% static 'My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'webuploader/0.1.5/webuploader.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/1.4.3/ueditor.config.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/1.4.3/ueditor.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/1.4.3/lang/zh-cn/zh-cn.js' %}"></script>
<script type="text/javascript" src="{% static 'my-js/CD.js' %}"></script>
<script type="text/javascript">
	
	
	$(document).ready(function(){
		
		if({{value_count}}>0){
			var result_json_obj = {{all_value|safe}};
			$('#11400001').empty()
			$.each(result_json_obj, function(i,item){
				if ("11400001"== item.codetype) {
					$('#11400001').append("<option value = " + item.name +">" + item.name +"</option>")
				}
				
			})
		}
		if ({{server_count}}>0) {
			var server_info_obj = {{server_list|safe}};
			$('#server').empty().append("<option value = 请选择 >" + "---请选择---------" +"</option>");
			for (let i = 0; i < server_info_obj.length; i++) {
				if (server_info_obj[i]) {
					// alert(server_info_obj[i])
					$('#server').append("<option value = " + server_info_obj[i] + ">" + server_info_obj[i] +"</option>")
				}
			  
			  }
			}
		var ajax_option={
			success:function(ret){
				/* alert("添加成功");
				alert(ret);
				alert(typeof(ret)); */
				
				if(ret == 'success'){
					var index = parent.layer.getFrameIndex(window.name);
						
					// alert(index);
					layer.msg('已添加!',{icon: 6,time:1000});
					// 添加成功后刷新页面
					setTimeout(function(){  document.getElementById('form-register').reset();}, 1000);
				}else{
					layer.alert('保存失败', {title:'保存状态', icon:2}, function(index){
						 layer.close(index);		 	
					});
					location.reload();
					
				}
				
			}
		}
		
		$('#form-register').validate({
			rules:{
				CD_name:{
					required:true,
					minlength:4,
					maxlength:60
				}
			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				$(form).ajaxSubmit(ajax_option);
			}
		});
	}	
)

	$("#server").change(function(){
		 servers = $(this).val()
		 $.get('/controller?server=' + servers,function(data){
			 controller = $('#controller')
			 controller.empty();
			 res =data.data
			 
			 $.each(res,function(index,item) {
				 controller_name = item
				 $('#controller').append("<option value = " + controller_name + ">" + controller_name +"</option>")
			 })
		 })
	})
	
<!-- 联动 接口名称-->
	$("#controller").change(function(){
		 controlleres = $(this).val()
		 $.get('/col_api?controller=' + controlleres,function(data){
			 col_api = $('#col_qpi')
			 col_api.empty();
			 res =data.data
			 $.each(res,function(index,item) {
				 controller_name = item
				 $('#col_qpi').append("<option value = " + controller_name + ">" + controller_name +"</option>")
			 })
		 })
	})
	


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>